.top {
    .top-image {
        width: 100%;
    }

    .top-background {
        position: relative;
    }

    .top-svgwrapper {
        position: absolute;
        width: 62.7%;
        height: 100%;
        top: 21.7%;
        right: 0;
        @include sp {
            display: none;
        }
    }

    .top-svgwrapper__content {
        width: 100%;
        height: 100%;

        mask-image: url(./assets/img/pc/about-bg.svg);
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(8px);
    }
    // Main section

    .top-main {
        min-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 8.6%;
        padding-bottom: 8.6%;
        position: absolute;
        top: 0;
        @include sp {
            padding-left: 7.9%;
        }
    }

    .top-main__heading {
        width: 361px;
        margin-bottom: 50px;
        @include sp {
            width: 222px;
            margin-bottom: 33px;
        }
    }

    .top-main__note {
        font-size: 1.1rem;
        color: $main-color;
        font-weight: 500;
        font-feature-settings: "palt" 1;
        letter-spacing: 0.05em;
        margin-top: 28px;
        @include sp {
            font-size: 1rem;
        }
    }

    .top-main__btnbox {
        display: none;
        padding-bottom: 4px;
        margin-top: 80px;
        padding-right: 8.6%;
        text-align: center;
        @include sp {
            display: block;
        }
    }

    .top-main__btn {
        display: inline-flex;
        width: 312px;
        height: 56px;
        border-radius: 28px;
        box-shadow: 16px 24px 32px #6e31ff3d;
        background: $main-color;
        align-items: center;
        justify-content: center;
    }

    .top-main__btntext {
        width: 30.7%;
    }

    // About section
    .top-about {
        padding-left: 9.1%;
        padding-top: 20.2%;
        position: absolute;
        top: 37.4%;
        width: 100%;
        @include sp {
            position: relative;
            padding-top: 26%;
        }
    }

    .top-about__heading {
        width: 692px;
        @include sp {
            width: 250px;
        }
    }

    .top-about__content {
        display: flex;
        position: relative;
        margin-top: 85px;
        margin-left: -4px;

        p {
            line-height: 2.4;
        }

        p + p {
            margin-top: 20px;
        }

        @include sp {
            margin-top: 40px;
            margin-left: -2px;
            
            p {
                line-height: 2;
            }

            p + p {
                margin-top: 28px;
            }
        }
    }

    .top-about__contentbox {
        width: 50%;
        font-size: 2rem;
        font-weight: 500;
        color: $main-color;
        @include sp {
            font-size: 1.4rem;
            color: $dark-color;
            width: 78%;
        }
    }

    .top-about__contenimg {
        position: absolute;
        width: 68.7%;
        right: 0;
        top: -39px;
    }

    // Point

    .top-point__about {
        display: none;
        @include sp {
            display: block;
            width: 333px;
            margin-top: 40px;
        }
    }

    .top-point {
        padding-bottom: 192px;
        position: relative;
    }

    .top-point__head {
        padding-bottom: 100px;
    }

    .top-point__headimg {
        display: flex;
        position: relative;
        margin-top: -25%;
        justify-content: flex-end;
        padding-right: 85px;

        img {
            box-shadow: 48px 64px 96px #0003;
        }
        @include sp {
            margin-top: 5px;
            padding-right: 0;
            justify-content: space-between;

            img {
                box-shadow: 32px 48px 64px #0003;
            }
        }
    }

    .top-point__imgright {
        margin: -55px 30px 0;
        @include sp {
            margin: 0;
            width: 44.53%;
        }
    }

    .top-point__imgleft {
        margin: 73px 30px 0;
        @include sp {
            margin: 0;
            width: 44.53%;
            margin-top: 38.7%;
        }
    }

    .top-point__body {
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 110px;
        position: relative;
        z-index: 1;
        @include sp {
            width: 83.2%;
            padding-top: 95px;
        }
    }

    .top-point__heading {
        margin-top: -63px;
        @include  sp {
            margin-top: 26%;
            width: 78.67%;
            margin-left: auto;
        }
    }

    .top-point__item {
        display: flex;
        @include sp {
            &:first-child .top-point__text {
                width: 90.4%;
            }

            &:nth-child(2) .top-point__text {
                width: 94%;
            }

            &:last-child .top-point__text {
                width: 62%;
            }
        }
    }

    .top-point__item + .top-point__item {
        margin-top: 103px;
        @include sp {
            margin-top: 40px;
        }
    }

    .top-point__icon {
        width: 7%;
        margin-right: 35px;
        @include sp {
            margin-right: 15px;
        }
    }

    .top-point__text {
        @include sp {
            width: 80%;
        }
    }

    .top-point__btn {
        display: flex;
        width: 768px;
        background: $main-color;
        border-radius: 112px;
        box-shadow: 48px 64px 96px #6e31ff3d;
        padding: 16px;
        margin-top: 225px;
    }

    .top-point__btnnum {
        display: inline-flex;
        flex-direction: column;
        background-color: $gray-color-lightest;
        width: 192px;
        height: 192px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 67px;
    }

    .top-point__btntextnum {
        width: 70px;
        margin-bottom: 11px;
    }

    .top-point__btntext {
        width: 93px;
    }

    .top-point__logo {
        position: absolute;
        right: 0;
        top: 65.3%;
        width: 54.5%;
        z-index: -1;
    }

    // Service section
    .top-service {
        margin-top: 192px;
        padding-bottom: 258px;
    }

    .top-service__head {
        max-width: 82.34%;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .top-service__header {
        text-align: center;
    }

    .top-service__subheader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top-service__body {
        margin-top: 93px;
    }

    .top-service__item {
        display: flex;
        padding-left: 112px;
        max-width: 1280px;
        margin: 0 auto;
        justify-content: space-between;

        & + .top-service__item {
            margin-top: 224px;
        }

        &:last-child {
            h3 {
                margin-top: -4px;
                margin-left: 5px;
            }
        }
    }

    .top-service__itemhead {
        position: relative;

        h3 {
            padding-left: 3px;
        }

        &.top-service__itemhead--76w {
            max-width: 76%;
        }
    }

    .top-service__imgbox {
        width: 50%;
        flex-shrink: 1;
        max-width: 480px;
    }

    .top-service__img {
        box-shadow: 48px 64px 96px #0003;
        border-radius: 36px;
        display: block;
    }

    .top-service__itemcontent {
        padding-left: 40px;
        margin-top: 198px;
        flex-shrink: 0;
        width: 54%;
    }

    .top-service__icon {
        box-shadow: 24px 32px 48px #0000001f;
        border-radius: 16px;
        background-color: $gray-color-lightest;
        padding: 24px;
        width: max-content;
        margin-bottom: 98px;
    }

    .top-service__iconinner {
        width: 64px;
        height: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .top-service__titlebg {
        position: absolute;
        top: 0;
        right: 15px;
        pointer-events: none;
        z-index: -1;
    }

    .top-service__itemtext {
        font-size: 2rem;
        font-weight: 500;
        color: $dark-color;
        margin-top: 38px;
        line-height: 2;
    }

    .top-service__item--reverse {
        flex-direction: row-reverse;
        padding-left: 0;
        padding-right: 50px;
        max-width: 1156px;
        justify-content: flex-start;

        .top-service__itemcontent {
            width: 43.3%;
            padding-left: 0;
        }

        .top-service__titlebg {
            right: -59px;
        }
    }

    // How to use section
    .top-how {
        margin-top: 156px;
    }

    .top-how__img {
        position: relative;

        img {
            width: 81.25%;
        }
    }

    .top-svgwrapper__how {
        width: 72.4%;
        top: 8.5%;
    }

    .top-svgwrapper__contenthow {
        mask-image: url(./assets/img/pc/howto/howto-bg.svg);
    }

    .top-how__slide {
        width: 91%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        transform: translateY(-44.3%);
        align-items: flex-start;
    }

    .top-how__item {
        flex: 1;
        max-width: 368px;
        background-color: $gray-color-lightest;
        border-radius: 6px;
        box-shadow: 48px 64px 96px #0000001f;
        position: relative;
        padding: 55px;
        min-height: 780px;
        margin: 0 16px;

        &:first-child {
            margin-top: -151px;
            margin-left: 0;
        }

        &:last-child {
            margin-top: 160px;
            margin-right: 0;
        }
    }

    .top-how__itemnum {
        position: absolute;
        top: 0;
        left: 31px;
        transform: translateY(-20px);
    }

    .top-how__itemtitle {
        margin-top: 43px;
    }

    .top-how__itemimg {
        margin-top: 55px;
        min-height: 308px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-how__itemcontent {
        text-align: center;
    }

    .top-how__itemtext {
        font-size: 1.6rem;
        color: #2b2c34;
        font-weight: 500;
        text-align: left;
        margin-top: 50px;
        line-height: 2;
    }
    // Entry section
    .top-entry {
        background: url(./assets/img/pc/entry/entry-bg.svg);
        min-height: 100vh;
        background-repeat: no-repeat;
        background-size: 60.31%;
    }

    .top-entry__list {
        width: 81.25%;
        padding-top: 23.2%;
        margin-left: auto;
    }

    .top-entry__item {
        display: flex;
        align-items: center;
        background-color: $gray-color-lightest;
        box-shadow: 48px 64px 96px #0000001f;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        min-height: 320px;
        padding: 80px 0 80px 96px;

        & + .top-entry__item {
            margin-top: 32px;
        }
    }

    .top-entry__imgcontainer {
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-entry__titlenum {
        width: 38px;
    }

    .top-entry__titletext {
        margin-left: 15px;
    }

    .top-entry__content {
        padding-top: 18px;
        padding-left: 64px;

        &.top-entry__content--lpadding {
            padding-top: 36px;
        }
    }

    .top-entry__text {
        font-size: 1.6rem;
        font-weight: 500;
        color: $dark-color;
        margin-top: 40px;
        margin-bottom: 16px;
    }

    .top-entry__note {
        font-size: 1.2rem;
        font-weight: 500;
        color: $dark-color;
    }

    // Media section
    .top-media {
        margin-top: 375px;
        background: url(./assets/img/pc/media/media-title.svg);
        background-size: 49.84%;
        min-height: 193px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .top-media__list {
        display: flex;
        width: 904px;
        max-width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .top-media__item {
        flex: 1;
        max-width: 280px;
        padding: 22px 0;
        display: flex;
        justify-content: center;
    }
}
