.top {
    .top-image {
        width: 100%;
    }

    .top-background {
        position: relative;
    }

    .top-svgwrapper {
        position: absolute;
        width: 62.7%;
        height: 100%;
        top: 21.7%;
        right: 0;
    }

    .top-svgwrapper__content {
        width: 100%;
        height: 100%;

        mask-image: url(./assets/img/pc/about-bg.svg);
        mask-size: contain;
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(8px);
    }
    // Main section

    .top-main {
        min-height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 110px;
        padding-bottom: 110px;
        position: absolute;
        top: 0;
    }

    .top-main__heading {
        width: 361px;
        margin-bottom: 50px;
    }

    .top-main__note {
        font-size: 1.1rem;
        color: $main-color;
        font-weight: 500;
        font-feature-settings: "palt" 1;
        letter-spacing: 0.05em;
        margin-top: 28px;
    }

    // About section
    .top-about {
        padding-left: 116px;
        padding-top: 260px;
        position: absolute;
        top: 37.4%;
        width: 100%;
    }

    .top-about__heading {
        width: 692px;
    }

    .top-about__content {
        display: flex;
        position: relative;
        margin-top: 85px;
        margin-left: -4px;

        p {
            line-height: 2.4;
        }

        p + p {
            margin-top: 20px;
        }
    }

    .top-about__contentbox {
        width: 50%;
        font-size: 20px;
        font-weight: 500;
        color: $main-color;
    }

    .top-about__contenimg {
        position: absolute;
        width: 68.7%;
        right: 0;
        top: -39px;
    }

    // Point
    .top-point {
        padding-bottom: 192px;
    }

    .top-point__head {
        padding-bottom: 100px;
    }

    .top-point__headimg {
        display: flex;
        position: relative;
        min-height: 200px;

        img {
            box-shadow: 48px 64px 96px #0003;
        }
    }

    .top-point__imgright {
        position: absolute;
        bottom: 31.1%;
        right: 9.2%;
    }

    .top-point__imgleft {
        position: absolute;
        right: 38.8%;
        top: -123%;
    }

    .top-point__body {
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 110px;
        position: relative;
        z-index: 1;
    }

    .top-point__item {
        display: flex;
    }

    .top-point__item + .top-point__item {
        margin-top: 103px;
    }

    .top-point__icon {
        width: 7%;
        margin-right: 35px;
    }

    .top-point__btn {
        display: flex;
        width: 768px;
        background: $main-color;
        border-radius: 112px;
        box-shadow: 48px 64px 96px #6e31ff3d;
        padding: 16px;
        margin-top: 225px;
    }

    .top-point__btnnum {
        display: inline-flex;
        flex-direction: column;
        background-color: $gray-color-lightest;
        width: 192px;
        height: 192px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 67px;
    }

    .top-point__btntextnum {
        width: 70px;
        margin-bottom: 11px;
    }

    .top-point__btntext {
        width: 93px;
    }

    .top-point__logo {
        position: absolute;
        right: -30%;
        top: 47.8%;
        width: 87.2%;
        z-index: -1;
    }

    // Service section
    .top-service {
        margin-top: 192px;
        padding-bottom: 258px;
    }

    .top-service__head {
        max-width: 1055px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

    .top-service__subheader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .top-service__body {
        margin-top: 66px;
    }

    .top-service__item {
        display: flex;
        padding-left: 65px;

        & + .top-service__item {
            margin-top: 35px;
        }
    }

    .top-service__itemhead {
        position: relative;

        h3 {
            padding-left: 3px;
        }

        &.top-service__itemhead--76w {
            max-width: 76%;
        }
    }

    .top-service__itemcontent {
        position: absolute;
        width: 50%;
        right: 0;
        padding-left: 48px;
        margin-top: 228px;
    }

    .top-service__icon {
        box-shadow: 24px 32px 48px #0000001f;
        border-radius: 16px;
        background-color: $gray-color-lightest;
        padding: 24px;
        width: max-content;
        margin-bottom: 98px;
    }

    .top-service__iconinner {
        width: 64px;
        height: 64px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .top-service__titlebg {
        position: absolute;
        top: 0;
        right: 15px;
        pointer-events: none;
        z-index: -1;
    }

    .top-service__itemtext {
        font-size: 2rem;
        font-weight: 500;
        color: $dark-color;
        margin-top: 38px;
        line-height: 2;
    }

    .top-service__item--reverse {
        flex-direction: row-reverse;

        .top-service__itemcontent {
            left: 0;
            padding-left: 16.3%;
            width: 59.5%;
        }
    }

    // How to use section

    .top-how__img {
        position: relative;
    }

    .top-svgwrapper__how {
        width: 72.4%;
        top: 8.5%;
    }

    .top-svgwrapper__contenthow {
        mask-image: url(./assets/img/pc/howto/howto-bg.svg);
    }

    .top-how__slide {
        width: 91%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        transform: translateY(-44.3%);
        align-items: flex-start;
    }

    .top-how__item {
        flex: 1;
        max-width: 368px;
        background-color: $gray-color-lightest;
        border-radius: 6px;
        box-shadow: 48px 64px 96px #0000001f;
        position: relative;
        padding: 56px;
        min-height: 780px;

        &:first-child {
            margin-top: -151px;
        }

        &:last-child {
            margin-top: 160px;
        }
    }

    .top-how__itemnum {
        position: absolute;
        top: 0;
        left: 31px;
        transform: translateY(-20px);
    }

    .top-how__itemtitle {
        margin-top: 43px;
    }

    .top-how__itemimg {
        margin-top: 55px;
        min-height: 308px;
    }

    .top-how__itemcontent {
        text-align: center;
    }

    .top-how__itemtext {
        font-size: 1.6rem;
        color: #2b2c34;
        font-weight: 500;
        text-align: left;
        margin-top: 50px;
        line-height: 2;
    }
}
