//baseWidth
$base-width: 1280px;

$main-fonts: "Noto Sans JP", sans-serif;
$second-fonts: "Barlow Semi Condensed", sans-serif;
//color common
$main-color: #6e31ff;
$main-color-hover: #541cdb;
$dark-color: #2b2c34;
$dark-hover-color: #a5a5a7;
$white-color: #fff;
$gray-color: #bdbdc0;
$gray-color-light: #e9e9ea;
$gray-color-lightest: #f0f0f1;
