.c-footer {
    .c-footer__top {
        max-width: 800px;
        width: 100%;
        margin: 371px auto 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sp {
            margin-top: 119px;
        }
    }

    .c-footer__title {
        max-width: 630px;
        transform: translate(-5px, 2px);

        @include sp {
            max-width: 290px;
            transform: translate(-2px, 2px);
        }
    }

    .c-footer__btn {
        display: flex;
        width: 768px;
        background: $main-color;
        border-radius: 112px;
        box-shadow: 48px 64px 96px #6e31ff3d;
        padding: 16px;
        margin-top: 225px;
        max-width: 100%;
        @include sp {
            padding: 8px;
            margin-top: 52px;
            width: 296px;
            box-shadow: 24px 32px 48px #6e31ff3d;
        }
    }

    .c-footer__btnmain {
        @include sp {
            width: 177px;
        }
    }

    .c-footer__btnnum {
        display: inline-flex;
        flex-direction: column;
        background-color: $gray-color-lightest;
        width: 192px;
        height: 192px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-right: 67px;
        @include sp {
            width: 80px;
            height: 80px;
            margin-right: 15px;
        }
    }

    .c-footer__btntextnum {
        width: 70px;
        margin-bottom: 11px;
        @include sp {
            width: 35px;
            margin-bottom: 6px;
        }
    }

    .c-footer__btntext {
        width: 93px;
        @include sp {
            width: 46px;
        }
    }

    .c-footer__share {
        margin-top: 417px;
        margin-bottom: 225px;
        background: url(./assets/img/pc/footer/share-bg.png) no-repeat;
        background-size: 53.13%;
        background-position: center;
        @include sp {
            margin: 0;
            padding-top: 187px;
            padding-bottom: 187px;
            background-size: 91.13%;
        }
    }

    .c-footer__social {
        display: flex;
        margin: 0 auto;
        max-width: 338px;
        @include sp {
            justify-content: center;
        }
    }

    .c-footer__socialicon {
        background-color: $gray-color;
        width: 80px;
        height: 80px;
        box-shadow: 24px 32px 48px #0000001f;
        border-radius: 50%;
        margin: 8px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            scale: 0.5;
        }

        &:hover {
            opacity: 1;

            img {
                opacity: 1;
            }
        }

        &:hover::before {
            position: absolute;
            content: "";
            width: 88px;
            height: 88px;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background: $dark-hover-color;
            cursor: pointer;
        }

        @include sp {
            width: 48px;
            height: 48px;
            margin: 8px;
        }
    }

    .c-footer__produce {
        text-align: center;
        padding: 190px 0 184px;
        @include sp {
            padding: 0 0 43px;
        }
    }

    .c-footer__mefilas {
        scale: 0.5;
        margin-top: 8px;
        @include sp {
            margin-top: 0;
        }
    }

    .c-footer__produceby {
        font-family: $second-fonts;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        color: $gray-color;
    }
}
