<%- include('_layouts/layout', { title: 'Home page' }); -%>

  <!-- @meta -->
  <meta name="description" content="Hair check Beme home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="top">
    <div class="top-background">
      <picture>
        <source media="(max-width: 1025px)" srcset="./assets/img/sp/main-bg-sp.png">
        <img src="./assets/img/pc/main-bg.jpg" class="top-image" alt="main background">
      </picture>
      <div class="top-svgwrapper">
        <div class="top-svgwrapper__content"></div>
      </div>

      <%- include('_partials/main') %>
      <%- include('_partials/about') %>
    </div>
    <%- include('_partials/point') %>
    <%- include('_partials/service') %>
    <%- include('_partials/howtouse') %>
    <%- include('_partials/entry') %>
    <%- include('_partials/media') %>
  </main>
  <!-- @@content -->

  <!-- @script -->

  <!-- @@script -->