<section class="top-about">
    <h2 class="top-about__heading">
        <picture>
            <source media="(max-width: 1024px)" srcset="./assets/img/sp/about-heading-sp.png">
            <img src="./assets/img/pc/about-heading.png" alt="about heading">
        </picture>
    </h2>
    <div class="top-about__content">
        <div class="top-about__contentbox">
            <p>髪質や毛髪は人によりさまざま。<br>その時々で変わるお客様の状態にあわせて<br>カウンセリングが必要となります。</p>
            <p>BE／ME（ビーミー）は、<br>だれでも簡単にできるヘアケア診断で、<br>お客様にあわせたヘアカウンセリングをサポートします。</p>
        </div>
    </div>
    
</section>