<section class="top-entry">
    <ul class="top-entry__list">
        <li class="top-entry__item">
            <div class="top-entry__imgcontainer">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/entry/entry-icon-1.svg">
                    <img src="./assets/img/pc/entry/entry-icon-1.svg" alt="entry computer icon" class="top-entry__img">
                </picture>
            </div>
            <div class="top-entry__content">
                <h2 class="top-entry__title">
                    <img src="./assets/img/pc/entry/entry-num-1.svg" alt="entry number 1" class="top-entry__titlenum">
                    <img src="./assets/img/pc/entry/entry-title-1.svg" alt="entry title 1" class="top-entry__titletext top-entry__titletext--79w">
                </h2>
                <p class="top-entry__text">
                    申し込み画面から店舗情報を登録します。
                </p>
                <p class="top-entry__note">※BE／MEはヘアサロン限定サービスとなるため、ご利用には審査が必要となります。</p>
            </div>
        </li>
        <li class="top-entry__item">
            <div class="top-entry__imgcontainer">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/entry/entry-icon-2.svg">
                    <img src="./assets/img/pc/entry/entry-icon-2.svg" alt="entry computer icon" class="top-entry__img">
                </picture>
            </div>
            <div class="top-entry__content top-entry__content--lpadding">
                <h2 class="top-entry__title">
                    <img src="./assets/img/pc/entry/entry-num-2.svg" alt="entry number 1" class="top-entry__titlenum">
                    <img src="./assets/img/pc/entry/entry-title-2.svg" alt="entry title 1" class="top-entry__titletext top-entry__titletext--17w">
                </h2>
                <p class="top-entry__text">
                    店舗情報に問題がないことが確認できましたら承認メールを順次お送りします。
                </p>
            </div>
        </li>
        <li class="top-entry__item">
            <div class="top-entry__imgcontainer">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/entry/entry-icon-3.svg">
                    <img src="./assets/img/pc/entry/entry-icon-3.svg" alt="entry computer icon" class="top-entry__img">
                </picture>
            </div>
            <div class="top-entry__content top-entry__content--lpadding">
                <h2 class="top-entry__title">
                    <img src="./assets/img/pc/entry/entry-num-3.svg" alt="entry number 1" class="top-entry__titlenum">
                    <img src="./assets/img/pc/entry/entry-title-3.svg" alt="entry title 1" class="top-entry__titletext top-entry__titletext--26w">
                </h2>
                <p class="top-entry__text">
                    承認メールのURLから店舗情報をご登録いただき次第、ご利用開始となります。 </p>
            </div>
        </li>
    </ul>
</section>