<footer class="c-footer">
  <div class="c-footer__top">
    <h2 class="c-footer__title">
      <picture>
        <source media="(max-width: 1024px)" srcset="./assets/img/sp/footer/footer-title.png">
        <img src="./assets/img/pc/footer/footer-title.png" alt="footer title">
      </picture>
    </h2>
    <a href="#" class="c-footer__btn">
      <span class="c-footer__btnnum">
        <img src="./assets/img/pc/point-btn-num.svg" alt="num button" class="c-footer__btntextnum">
        <img src="./assets/img/pc/point-btn-text-s.svg" alt="num small text" class="c-footer__btntext">
      </span>
      <img src="./assets/img/pc/point-btn-text.svg" alt="point button text" class="c-footer__btnmain">
    </a>
  </div>
  <div class="c-footer__share">
    <div class="c-footer__social">
      <a href="#" class="c-footer__socialicon">
        <picture>
          <source media="(max-width: 1024px)" srcset="./assets/img/sp/footer/line-icon.png">
        <img src="./assets/img/pc/footer/line-icon.png" alt="line icon">
        </picture>
      </a>
      <a href="#" class="c-footer__socialicon">
        <picture>
          <source media="(max-width: 1024px)" srcset="./assets/img/sp/footer/twitter-icon.png">
        <img src="./assets/img/pc/footer/twitter-icon.svg" alt="twitter icon">
        </picture>
      </a>
      <a href="#" class="c-footer__socialicon">
        <picture>
          <source media="(max-width: 1024px)" srcset="./assets/img/sp/footer/facebook-icon.png">
        <img src="./assets/img/pc/footer/facebook-icon.svg" alt="facebook icon">
        </picture>
      </a>
    </div>
  </div>
  <div class="c-footer__produce">
    <h2 class="c-footer__produceby">
      PRODUCED BY
    </h2>
    <picture>
      <source media="(max-width: 1024px)" srcset="./assets/img/sp/footer/mefilas.png">
    <img src="./assets/img/pc/footer/mefilas.png" alt="mefilas" class="c-footer__mefilas">
    </picture>
  </div>
</footer>