<footer class="c-footer">
  <div class="c-footer__top">
    <h2 class="c-footer__title">
      <img src="./assets/img/pc/footer/footer-title.png" alt="footer title">
    </h2>
    <a href="#" class="c-footer__btn">
      <span class="c-footer__btnnum">
        <img src="./assets/img/pc/point-btn-num.svg" alt="num button" class="c-footer__btntextnum">
        <img src="./assets/img/pc/point-btn-text-s.svg" alt="num small text" class="c-footer__btntext">
      </span>
      <img src="./assets/img/pc/point-btn-text.svg" alt="point button text">
    </a>
  </div>
  <div class="c-footer__share">
    <ul class="c-footer__social">
      <li class="c-footer__socialicon">
        <img src="./assets/img/pc/footer/line-icon.png" alt="line icon">
      </li>
      <li class="c-footer__socialicon">
        <img src="./assets/img/pc/footer/twitter-icon.svg" alt="twitter icon">
      </li>
      <li class="c-footer__socialicon">
        <img src="./assets/img/pc/footer/facebook-icon.svg" alt="facebook icon">
      </li>
    </ul>
  </div>
  <div class="c-footer__produce">
    <h2 class="c-footer__produceby">
      PRODUCED BY
    </h2>
    <img src="./assets/img/pc/footer/mefilas.png" alt="mefilas" class="c-footer__mefilas">
  </div>
</footer>