<header class="c-header">
  <nav class="c-gnav">
    <a href="#" class="c-hader__btn">
      <img src="./assets/img/pc/header-btn-text.svg" alt="header-text" class="c-header__btntext">
    </a>
  </nav>
</header>