<section class="top-how">
    <div class="top-how__img">
        <picture>
            <source media="(max-width: 1024px)" srcset="./assets/img/sp/howto/how-bg.jpg">
            <img src="./assets/img/pc/howto/how-bg.jpg" alt="how background">
        </picture>
        <div class="top-svgwrapper top-svgwrapper__how">
            <div class="top-svgwrapper__content top-svgwrapper__contenthow"></div>
        </div>
    </div>
    <div class="swiper top-how__slide">
        <div class="swiper-wrapper">
            <div class="top-how__item swiper-slide">
                <div class="top-how__itemnum">
                    <img src="./assets/img/pc/howto/slide-num-1.svg" alt="slide num 1">
                </div>
                <div class="top-how__itemcontent">
                    <h2 class="top-how__itemtitle">
                        <img src="./assets/img/pc/howto/slide-title-1.svg" alt="">
                    </h2>
                    <div  class="top-how__itemimg">
                        <picture>
                            <source media="(max-width: 1024px)" srcset="./assets/img/sp/howto/howto-1.svg">
                            <img src="./assets/img/pc/howto/howto-1.png" alt="">
                        </picture>
                    </div>
                    <p class="top-how__itemtext">
                        タブレットでB／MEにログインして、メニューから「カウンセリング」をお選びください。
                    </p>
                </div>
            </div>
            <div class="top-how__item swiper-slide">
                <div class="top-how__itemnum">
                    <img src="./assets/img/pc/howto/slide-num-2.svg" alt="slide num 1">
                </div>
                <div class="top-how__itemcontent">
                    <h2 class="top-how__itemtitle">
                        <img src="./assets/img/pc/howto/slide-title-2.svg" alt="">
                    </h2>
                    <div class="top-how__itemimg">
                        <img src="./assets/img/pc/howto/howto-2.png" alt="">
                    </div>
                    <p class="top-how__itemtext">
                        はじめてのお客様の場合は、お客様情報を入力いただいた後、画面に従って診断項目を選択していきます。2回目以降の場合は、カルテからお客様を選んで診断を始めます。
                    </p>
                </div>
            </div>
            <div class="top-how__item swiper-slide">
                <div class="top-how__itemnum">
                    <img src="./assets/img/pc/howto/slide-num-3.svg" alt="slide num 1">
                </div>
                <div class="top-how__itemcontent">
                    <h2 class="top-how__itemtitle">
                        <img src="./assets/img/pc/howto/slide-title-3.svg" alt="">
                    </h2>
                    <div class="top-how__itemimg">
                        <img src="./assets/img/pc/howto/howto-3.png" alt="">
                    </div>
                    <p class="top-how__itemtext">
                        ひとりひとりの診断内容に合わせた髪の状態やアドバイスが表示されます。
                    </p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>