<section class="top-main">
    <h1 class="top-main__heading">
        <source media="(max-width: 1025px)" srcset="./assets/img/sp/main-heading-text.png">
        <img src="./assets/img/pc/main-heading-text.png" alt="main text">
    </h1>
    <p class="top-main__logo">
        <picture>
            <source media="(max-width: 1025px)" srcset="./assets/img/sp/main-beme-sp.png">
            <img src="./assets/img/pc/main-beme.png" alt="main beme logo">
        </picture>
    </p>
    <p class="top-main__note">
        ［ 美容院・ヘアサロン向けヘアケア診断サービス ］
    </p>
    <div class="top-main__btnbox">
        <a href="#" class="top-main__btn">
            <img src="./assets/img/pc/header-btn-text.svg" alt="header-text" class="top-main__btntext">
        </a>
    </div>
</section>