<section class="top-main">
    <h1 class="top-main__heading">
        <img src="./assets/img/pc/main-heading-text.png" alt="main text">
    </h1>
    <p class="top-main__logo">
        <img src="./assets/img/pc/main-beme.png" alt="main beme logo">
    </p>
    <p class="top-main__note">
        ［ 美容院・ヘアサロン向けヘアケア診断サービス ］
    </p>
</section>