<div class="swpier top-media">
    <div class="top-media__list swiper-wrapper">
        <div class="top-media__item swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="./assets/img/sp/media/media-1.svg">
                <img src="./assets/img/pc/media/media-1.png" alt="sponsor 1">
            </picture>
        </div>
        <div class="top-media__item swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="./assets/img/sp/media/media-2.svg">
                <img src="./assets/img/pc/media/media-2.png" alt="sponsor 1">
            </picture>
        </div>
        <div class="top-media__item swiper-slide">
            <picture>
                <source media="(max-width: 1024px)" srcset="./assets/img/sp/media/media-3.svg">
                <img src="./assets/img/pc/media/media-3.png" alt="sponsor 1">
            </picture>
        </div>
    </div>
</div>