<div class="top-media">
    <div class="top-media__list">
        <div class="top-media__item">
            <img src="./assets/img/pc/media/media-1.png" alt="sponsor 1">
        </div>
        <div class="top-media__item">
            <img src="./assets/img/pc/media/media-2.png" alt="sponsor 1">
        </div>
        <div class="top-media__item">
            <img src="./assets/img/pc/media/media-3.png" alt="sponsor 1">
        </div>
    </div>
</div>