<section class="top-point">
    <div class="top-point__about">
        <img src="./assets/img/sp/point/point-about-us.png" alt="point about">
    </div>
    <div class="top-point__head">
        <div class="top-point__headimg">
            <div class="top-point__imgleft">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/about-1-sp.jpg">
                    <img src="./assets/img/pc/about-1.jpg" alt="point image">
                </picture>
            </div>
            <div class="top-point__imgright">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/about-2-sp.jpg">
                    <img src="./assets/img/pc/about-2.jpg" alt="point image">
                </picture>
            </div>
        </div>
        <h2 class="top-point__heading">
            <picture>
                <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/point-beme.svg">
                <img src="./assets/img/pc/about-beme.svg" alt="top point heading">
            </picture>
        </h2>
    </div>
    <div class="top-point__body">
        <ul>
            <li class="top-point__item">
                <img src="./assets/img/pc/check-icon.svg" alt="check icon" class="top-point__icon">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/point-content-1-sp.svg">
                    <img src="./assets/img/pc/point-content-1.svg" alt="point content 1" class="top-point__text">
                </picture>
            </li>
            <li class="top-point__item">
                <img src="./assets/img/pc/check-icon.svg" alt="check icon" class="top-point__icon">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/point-content-2-sp.svg">
                    <img src="./assets/img/pc/point-content-2.svg" alt="point content 1" class="top-point__text">
                </picture>
            </li>
            <li class="top-point__item">
                <img src="./assets/img/pc/check-icon.svg" alt="check icon" class="top-point__icon">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/point-content-3-sp.svg">
                    <img src="./assets/img/pc/point-content-3.svg" alt="point content 1" class="top-point__text">
                </picture>
            </li>
        </ul>
        <a href="#" class="top-point__btn">
            <span class="top-point__btnnum">
                <img src="./assets/img/pc/point-btn-num.svg" alt="num button" class="top-point__btntextnum">
                <img src="./assets/img/pc/point-btn-text-s.svg" alt="num small text" class="top-point__btntext">
            </span>
            <img src="./assets/img/pc/point-btn-text.svg" alt="point button text" class="top-point__btnmain">
        </a>
    </div>
    <picture>
        <source media="(max-width: 1024px)" srcset="./assets/img/sp/point/point-logo.svg">
        <img src="./assets/img/pc/point-logo.svg" alt="point logo" class="top-point__logo">
    </picture>
</section>