<section class="top-point">
    <div class="top-point__head">
        <div class="top-point__headimg">
            <div class="top-point__imgleft">
                <img src="./assets/img/pc/about-1.jpg" alt="point image">
            </div>
            <div class="top-point__imgright">
                <img src="./assets/img/pc/about-2.jpg" alt="point image">
            </div>
        </div>
        <h2 class="top-point__heading">
            <img src="./assets/img/pc/about-beme.svg" alt="top point heading">
        </h2>
    </div>
    <div class="top-point__body">
        <ul>
            <li class="top-point__item">
                <img src="./assets/img/pc/check-icon.svg" alt="check icon" class="top-point__icon">
                <img src="./assets/img/pc/point-content-1.svg" alt="point content 1" class="top-point__text">
            </li>
            <li class="top-point__item">
                <img src="./assets/img/pc/check-icon.svg" alt="check icon" class="top-point__icon">
                <img src="./assets/img/pc/point-content-2.svg" alt="point content 1" class="top-point__text">
            </li>
            <li class="top-point__item">
                <img src="./assets/img/pc/check-icon.svg" alt="check icon" class="top-point__icon">
                <img src="./assets/img/pc/point-content-3.svg" alt="point content 1" class="top-point__text">
            </li>
        </ul>
        <a href="#" class="top-point__btn">
            <span class="top-point__btnnum">
                <img src="./assets/img/pc/point-btn-num.svg" alt="num button" class="top-point__btntextnum">
                <img src="./assets/img/pc/point-btn-text-s.svg" alt="num small text" class="top-point__btntext">
            </span>
            <img src="./assets/img/pc/point-btn-text.svg" alt="point button text">
        </a>
        <img src="./assets/img/pc/point-logo.svg" alt="point logo" class="top-point__logo">
    </div>
</section>