<section class="top-service">
    <div class="top-service__head">
        <h2 class="top-service__header">
            <picture>
                <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/service-heading.svg">
                <img src="./assets/img/pc/service/service-heading.svg" alt="service heading">
            </picture>
        </h2>
        <p class="top-service__subheader">
            <img src="./assets/img/pc/service/service-subheading.svg" alt="service sub heading">
        </p>
    </div>

    <div class="top-service__body">
        <div class="top-service__item">
            <div class="top-service__imgbox">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/check.png">
                    <img src="./assets/img/pc/service/check-img.png" alt="check image" class="top-service__img">
                </picture>
            </div>
            <div class="top-service__itemcontent">
                <div class="top-service__itemhead">
                    <div class="top-service__icon">
                        <div class="top-service__iconinner">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/check-icon.svg">
                                <img src="./assets/img/pc/service/check-icon.svg" alt="check icon">
                            </picture>
                        </div>
                    </div>
                    <div class="top-service__titlebg">
                        <img src="./assets/img/pc/service/check-title-bg.svg" alt="check title background">
                    </div>
                    <h3>
                        <img src="./assets/img/pc/service/check-title.svg" alt="check title">
                    </h3>
                </div>
                <p class="top-service__itemtext">髪質や毛髪は人によりさまざま。その時々<br class="u-breakline--pc">で変わるお客様の状態に合わせた最適なヘ<br class="u-breakline--pc">アケア診断ができていますか？</p>
            </div>
        </div>
        <div class="top-service__item top-service__item--reverse">
            <div class="top-service__imgbox">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/karte.png">
                    <img src="./assets/img/pc/service/karte-img.png" alt="check image" class="top-service__img">
                </picture>
            </div>
            <div class="top-service__itemcontent">
                <div class="top-service__itemhead">
                    <div class="top-service__icon">
                        <div class="top-service__iconinner">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/karte-icon.svg">
                                <img src="./assets/img/pc/service/karte-icon.svg" alt="check icon">
                            </picture>
                        </div>
                    </div>
                    <div class="top-service__titlebg">
                        <img src="./assets/img/pc/service/karte-title-bg.svg" alt="check title background">
                    </div>
                    <h3>
                        <img src="./assets/img/pc/service/karte-title.svg" alt="check title">
                    </h3>
                </div>
                <p class="top-service__itemtext">髪質や毛髪は人によりさまざま。その時々<br class="u-breakline--pc">で変わるお客様の状態に合わせた最適なヘ<br class="u-breakline--pc">アケア診断ができていますか？</p>
            </div>
        </div>
        <div class="top-service__item">
            <div class="top-service__imgbox">
                <picture>
                    <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/shop.png">
                    <img src="./assets/img/pc/service/shop-img.png" alt="check image" class="top-service__img">
                </picture>
            </div>
            <div class="top-service__itemcontent">
                <div class="top-service__itemhead top-service__itemhead--76w">
                    <div class="top-service__icon">
                        <div class="top-service__iconinner">
                            <picture>
                                <source media="(max-width: 1024px)" srcset="./assets/img/sp/service/shop-icon.svg">
                                <img src="./assets/img/pc/service/shop-icon.svg" alt="check icon">
                            </picture>
                        </div>
                    </div>
                    <div class="top-service__titlebg">
                        <img src="./assets/img/pc/service/shop-title-bg.svg" alt="check title background">
                    </div>
                    <h3>
                        <img src="./assets/img/pc/service/shop-title.svg" alt="check title">
                    </h3>
                </div>
                <p class="top-service__itemtext">髪質や毛髪は人によりさまざま。その時々<br class="u-breakline--pc">で変わるお客様の状態に合わせた最適なヘ<br class="u-breakline--pc">アケア診断ができていますか？</p>
            </div>
        </div>
    </div>
</section>